<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
</head>
<body>
    <h1>Student Data</h1>
    <p>ID: {{ student['Id'].values[0] }}</p>
    <p>First Name: {{ student['First_Name'].values[0] }}</p>
    <p>Last Name: {{ student['Last_Name'].values[0] }}</p>
    <p>Exam Date: {{ student['Exam_Date'].values[0] }}</p>
    <p>Writing: {{ student['Writing'].values[0] }}</p>
    <p>Reading: {{ student['Reading'].values[0] }}</p>
    <p>Listening: {{ student['Listening'].values[0] }}</p>
    <p>Speaking: {{ student['Speaking'].values[0] }}</p>
    <p>Merkle Proof: {{ student['Merkle_Proof'].values[0] }}</p>
</body>
</html>
