/* styles/app.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px; /* Adjust the margin-top as needed */
}

h1 {
    margin-bottom: 20px;
}

#studentsTable {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a shadow for better visual */
}

#studentsTable th,
#studentsTable td {
    border: 1px solid #dddddd;
    padding: 10px;
}

#studentsTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#studentsTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#studentsTable tbody tr:hover {
    background-color: #ddd;
}
